.background {

  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;

}

.hero {
  background-image: url('../src/img/hero1.png');
  height: 91vh;
  text-align: center;
  top: auto;
 
}

.hero-content {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: larger;
}


.hero p {
  font-size: 1.3rem;
  font-weight: 900;
  color: #000000;
  margin-top: 5vh;
}

.cta-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background: #0070f3;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 1000;
}
.section {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.section.light {
  background: #ffffff;
}


.key {
  padding-left: 60rem ;
  padding-top: 5rem;
  font-size: 4rem;
}

.supplier {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.find { 
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 3rem;
  padding-bottom: 5rem;
  width: 65rem;
  height: 20rem;
  border-radius: 1rem;
  margin: 5rem 5rem 5rem 5rem;
  background:  url('/src/img/id.png') center/cover;
}

.supplier p {
  gap: 1rem;
  justify-content: left;
  font-size: 1.8rem;
  font-style: italic;
}




.procurement {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.sourcing { 
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 3rem;
  width: 65rem;
  height: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  margin: 5rem 5rem 5rem 5rem;
  background:  url('/src/img/product.png') center/cover;
}

.procurement p {
  gap: 1rem;
  justify-content: left;
  font-size: 1.8rem;
  font-style: italic;
}



.quality {

  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.inspection { 
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 3rem;
  width: 65rem;
  height: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  margin: 5rem 5rem 5rem 5rem;
  background:  url('/src/img/z.png') center/cover;
}

.quality p {
  gap: 1rem;
  justify-content: left;
  font-size: 1.8rem;
  font-style: italic;
}



.prices {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.negotiation { 
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 3rem;
  width: 65rem;
  height: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  margin: 5rem 5rem 5rem 5rem;
  background:  url('/src/img/price.png') center/cover;
}

.prices p {
  gap: 1rem;
  justify-content: left;
  font-size: 1.8rem;
  font-style: italic;
}




.logistics {

  display: flex;
  flex-direction: row;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.shipping { 
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 3rem;
  width: 65rem;
  height: 20rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  margin: 5rem 5rem 5rem 5rem;
  background:  url('/src/img/log.png') center/cover;
}

.logistics p {
  gap: 1rem;
  justify-content: left;
  font-size: 1.8rem;
  font-style: italic;
}